<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee</title>
</head>
<body>
<a href="/addEmployee">Add Employee</a>
<table>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>surname</th>
        <th>email</th>
        <th>phone_number</th>
        <th>salary</th>
        <th>position</th>
        <th>Company</th>
        <th>action</th>

    </tr>
    <tr th:each="e : ${allEmployee}">
        <td th:text="${e.id}"></td>
        <td th:text="${e.name}"></td>
        <td th:text="${e.surname}"></td>
        <td th:text="${e.email}"></td>
        <td th:text="${e.phone_number}"></td>
        <td th:text="${e.salary}"></td>
        <td th:text="${e.position}"></td>
        <td th:text="${e.company.name}"></td>
        <td><img th:if="${e.pic_url != null}" th:src="@{/getImage(picture=${e.pic_url})}" width="50" height="50"/>
        </td>
        <td><a th:href="@{'/deleteEmployee/' + ${e.id}}">delete </a>
    </tr>
</table>
</body>
</html>